$background-color: white;
$header-color: #1c313a;
$text-color: white;
$output-color: #233752;
$options-color: rgb(218, 218, 218);

@mixin centered_inputs {
    display: flex;
    flex-direction: row;
    margin: auto;
    padding: 0.5em 1em;

    input#command{
        flex: 1;
    }
}

@mixin top_bar {
    background-color: $header-color;
    color: $text-color;
    text-align: center;
}

header{
    @include top_bar;
}

footer{
    @include top_bar;
}

body{
    min-width: 300px;
    margin: auto;
    background-color: $background-color;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
}
main{
    flex: 1;
    display: flex;
    flex-direction: column;
}

h3{
    margin-top: 0;
    margin-bottom: 0;
    padding: 1em;
    @include top_bar;
    text-align: initial;
}

pre{
    width: 100%;
}

.user_input{
    padding: 0.5em;
}

.cmd_row{
    @include centered_inputs;
}

#buttons{
    @include centered_inputs;
    background-color: $options-color;
    flex-direction: column;
}

#responsive_layout{
    flex: 1;
}

#cmd_input{
    flex: 1;
}

#all_commands{
    padding: 1em;
    padding-top: 0;
    max-height: 10vh;
    overflow-y: auto;
}